@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('../images/riam_merasap.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Login Form */

.form {
  width: 350px;
  background: white;
  border-radius: 10px;
  margin: 80px auto;
  padding: 50px 20px;
}

.form_login {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

.LoginButton {
  background-color: black;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.LoginButton:hover {
  opacity: 0.9;
}

.LoginButton:active {
  opacity: 0.7;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

p {
  color: black;
  text-decoration: none;
  font-size: 10pt;
  text-align: right;
  margin-top: 5px;
}

.hide_show {
  text-align: right;
  margin-top: -55px;
  margin-right: 10px;
  cursor: pointer;
}

.hide_show i {
  color: black;
}

a {
  float: right;
  margin-top: 10px;
}
